<html>
	<head>
		<title>Your tic poem</title>
		<link rel="stylesheet" href="../stylesheets/main.css">
		<link href="bootstrap/bootstrap.css" rel="stylesheet" media="screen">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
</body>


<div class="fluid container">
	<div class=row>
		<div class="col-xs-6">
			
			    <div class="panel panel-info">
      <div class="panel-heading">{{word}}: A Poem</div>
      <div class="panel-body">{{poem}}</div>
    </div>
		</div>
		
		<div class ="col-xs-6">
			<img src="/images/tic_wordcloud.jpg"  width=450 alt="Tick shaped wordcloud from tics">
		</div>
	</div>
</div>
<br>
<br>

<footer>
<a href="/" title="Back to the Home page"><b>HOME</b></a> | <a href="#" title="To the top of this page"><b>BACK TO TOP</b></a>
</footer>

<br>

<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
</html>